<launch>

#### Lunch Phidgets_driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
    output="screen">

   # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>
    
  </node>

#### launch EKF ###############################################

  
	<node   pkg="EKF"   type="ekf_node" name="ekf" output="screen" >

  <param name="sigma_g"     value="0.0001"/>  
  
  <param name="sigma_a"     value="0.0001"/>
  
  <param name="sigma_bax"              value="0.02"/>
  <param name="sigma_bay"              value="0.2"/>
  <param name="sigma_baz"              value="0.003"/>
  
  <param name="threshold_gyro_step"   value="0.4"/>
  <param name="threshold_acc_step"    value="0.1"/>
  <param name="alpha"                 value="0.005"/>
  </node>

#### IMU Madqwick Orientation Filter#######################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">

    <param name="use_mag" value="false"/>
    <param name="gain" value="0.1"/>
    <remap from="imu/data" to="imu/data_madgwick"/>
  </node>
#### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

</launch>
