<!-- Launch OpenNI driver and process the data -->
<launch>

######### launch Openni driver #########################################
  
  
  <include file="$(find ccny_openni_launch)/launch/openni.launch"/>

#### launch Visual odometry ############################################

  <include file="$(find  NIAC)/launch/visual_odometry.launch"/>


#### launch xsens_driver ###############################################

  
	<node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
		<param name="frame_id" value="/imu" />
	  <remap from="imu/data" to="imu/data_raw"/>
	</node>

 #### Lunch Phidgets_driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
    output="screen">

    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>
    
<remap from="imu/data_raw" to="imu/data_phi"/>

  </node>

#### launch NIAC ###############################################

  
	<node   pkg="NIAC"   type="niac_node" name="niac" output="screen" >
  <param name="alpha"         value="0.6"/> #0.9, 0.5. 0.1 
  <param name="beta"          value="0.3"/>  #0.5 0.1
  <param name="gain"          value="0.1"/> #madwick gilter gain
  <param name="threshold"     value="9.805"/>
  <param name="gamma"         value="0.1"/> #low pass filtered gain
  <param name="constant_dt"   value="0"/>
  </node>

#### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

#### IMU Orientation Filter ###############################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">

    <param name="use_mag" value="false"/>
    <param name="gain" value="0.1"/>
    <remap from="imu/data" to="imu/data_madgwick"/>
  </node>

#### IMU Orientation Filter ###############################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet2"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">

    <param name="use_mag" value="false"/>
    <param name="gain" value="0.1"/>
    <remap from="imu/data_raw" to="imu/data_phi"/>
    <remap from="roll" to="roll_phi"/>
    <remap from="pitch" to="pitch_phi"/>
  </node>

</launch>






