<!-- kf launch file -->
<launch>

#### Lunch Phidgets_driver ###########################################################
<!--
  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
    output="screen">

   # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>
    
  </node>
-->
#### launch xsens_driver ###############################################

  
	<node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
		<param name="frame_id" value="/imu" />
    <remap from="imu/data" to="imu/data_raw"/>
    <remap from="/magnetic" to="imu/mag"/>
	</node> 

#### launch KF ###############################################
  
	<node   pkg="KF"   type="kf_node" name="kf" output="screen" >

    <param name="do_bias_estimation" value="true"/>
    <param name="use_mag"      value="false"/>
    
    <param name="bias_alpha_"                 value="0.007"/> #for Xsens
    
  </node>

#### IMU Madqwick Orientation Filter#######################################


  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">

    <param name="use_mag" value="false"/>
    <param name="gain" value="0.1"/>
    <remap from="imu/data" to="imu/data_madgwick"/>
  </node>

#### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

</launch>
